/* Styles for screens with screen widths of at least 1024px */
.latest-news-articles:last-child,
.deal:last-child {
  display: none;
}
@media only screen and (min-width: 1024px) {
  /* No need to do anything with the header */

  /* Headlines styles */

  /* Latest news styles */

  .latest-news,
  .latest-funding-rounds,
  .sections-u-row,
  .latest-deals {
    width: 85%;
    margin: 0 auto;
  }

  .latest-news-articles,
  .deal {
    flex-basis: 24%;
  }
  .hf-d-box {
    flex-basis: 32%;
  }
  .latest-news-articles {
    height: 235px;
  }
}
