/* Styles for screen widths at least 768px and at most 1023px */
@media only screen and (min-width: 768px) {
  /* unhide main header nav */
  .bottom-nav {
    margin-left: 110px;
    overflow-x: hidden;
  }

  .bottom-nav ul,
  .bottom-nav .social-buttons {
    display: block;
  }

  .bottom-li,
  .social-buttons li {
    display: inline-block;
  }

  .bottom-nav a {
    text-decoration: none;
    color: #888;
    font-size: 14px;
  }

  .bottom-li {
    padding: 10px;
  }

  .social-buttons {
    margin-top: 12px;
    margin-left: 10px;
  }

  .social-buttons a {
    font-size: 18px;
    opacity: 0.7;
  }
  .hamburger-button {
    display: none;
  }
}
